<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body class="error">
        <main role="main">
            <%= yield %>
        </main>
    </body>
</html>
