body {
    background: url(/img/sinatra-hat.png) #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* COMMENT THIS TO HIDE NAV BAR*/
nav {
    display: inline-block; 
}

h2 {
    left: 0;
    line-height: 200px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.error {
    background: #919191;
}

.error h2 {
    line-height: 200px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    top: 0px;
    bottom: 0px;
    margin-bottom: 100px;
    color: #8a0000;
}